aiofiles
aiohttp
beautifulsoup4
Flask
gitpython
gunicorn
hachoir
heroku3
Kurigram
lyricsgenius
motor
ntgcalls==2.0.5
pillow
psutil
py-tgcalls==2.2.0rc3
PyTgCrypto
python-dotenv
pyyaml~=6.0.2
requests
speedtest-cli
spotipy
unidecode
uvloop
werkzeug
yt-dlp
https://github.com/KSKOP69/youtube-search-python/archive/ksk.zip
aiohttp~=3.13.3
kurigram>=2.2.17
pillow~=12.1.0
psutil~=7.2.1
pymongo>=4.16.0
pytgcrypto>=1.2.11
py-tgcalls~=2.2.10
py-yt-search~=0.5.7
python-dotenv~=1.2.1
yt-dlp[default]>=2025.12.8
